name: $(date:yy)$(DayOfYear)$(rev:.r)

trigger: none

pr:
- master
- milestones/*
- releases/*
- servicing/*

variables:
  majorAndMinorVersion: '0.4'
  revision: '$(Build.BuildNumber)'
  platform: 'x64'
  configuration: release

jobs:
  - job: Windows
    pool:
      vmImage: vs2017-win2016
    steps:
    - template: templates/windows-build-and-unit-test.yml

  - job: macOS_Build_and_UnitTests
    variables:
      platformFriendlyName: macOS
    pool:
      name: 'Hosted macOS'
    steps:
    - template: templates/macos-build-and-unit-test.yml

  - job: macOS_FunctionalTests
    variables:
      platformFriendlyName: macOS
    timeoutInMinutes: 30
    pool:
      name: 'Hosted macOS'
    dependsOn: macOS_Build_and_UnitTests
    condition: succeeded()
    steps:
      - checkout: none # Use the drop from Build_macOS job
      - template: templates/macos-functional-test.yml
